In [1]:
l1 = ['a','b','c',45,'da']
l1

['a', 'b', 'c', 45, 'da']

In [2]:
l1.index(45)

3

In [3]:
# l1.index('c')

In [4]:
del l1[l1.index('c')]

In [5]:
l1

['a', 'b', 45, 'da']

In [6]:
l2 = ['w',True,1.5]
l2

['w', True, 1.5]

In [7]:
l2[1]

True

In [8]:
l2[l2.index(True)]

True

In [9]:
l1.pop()

'da'

In [10]:
l1

['a', 'b', 45]

In [11]:
l2.pop(0)

'w'

In [12]:
l2

[True, 1.5]

In [13]:
l3 = l1+l2
l3

['a', 'b', 45, True, 1.5]

In [14]:
l3.remove(True)
l3

['a', 'b', 45, 1.5]

In [ ]:
s1 = ['a','b','b','b','c','d','e','d','f','b']
ele = input('Enter the element:')
for x in range(s1.count(ele)):
    s1.remove(ele)
print(s1)

In [ ]:
s1 = ['a','b','b','c','d','e','d','f','b']
ele = input('Enter the element:')
for x in s1(s1.remove(ele)):
      print(s1)

In [ ]:
s1 = ['a','b','b','b','c','d','e','d','f','b']
ele = input('Enter the element:')
for x in s1:
    if x ==ele:
        s1.remove(x)
print(s1)

#### List Comprension

In [ ]:
l = list(range(20))
l

In [ ]:
even = []
for x in range(20):
    if x % 2 ==0:
        even.append(x)
        print(even)

In [ ]:
even = []
for x in range(20):
    if x % 2 ==0:
        even.append(x)
    print(even)

In [ ]:
even = []
for x in range(20):
    if x % 2 ==0:
        even.append(x)
print(even)

In [ ]:
even = []
for x in range(20):
    if (x % 2 ==0) and (x!=0):
        even.append(x)
print(even)

In [ ]:
even =[x for x in l if (x % 2 ==0) and (x!=0)]
even

In [ ]:
l

In [ ]:
(l**2)
l

In [ ]:
sq = [x **2 for x in l]
sq

In [ ]:
sq=[]

In [ ]:
sq =[x**2 for x in l]
sq

In [ ]:
n1 = [] 
for x in l:
    if x %2==0:
        n1.append(x**2)
    else:
        n1.append(x**3)
print(n1)

In [ ]:
n1 = [] 
for x in l:
    if x %2==0:
        n1.append(x)
    else:
        n1.append(x)
print(n1)

In [ ]:
n1 = [x**2 for x in l if x%2 ==0]
n1

In [ ]:
n1 = [x**2 if x%2 ==0 else x**3 for x in l ]
n1

In [ ]:
m = []
for x in range(5):
    m.append([])
    for y in range(3):
        m[x].append(y)
print(m)

In [ ]:
m = []
for x in range(5):
    m.append([])
for y in range(3):
        m[x].append(y)
print(m)

In [ ]:
m = []
for x in range(5):
    m.append([])
for y in range(3):
        m.append(y)
print(m)

In [ ]:
def add():
    a= 8
    b= 6
    c = a+b
    return c
add()

In [ ]:
def add():
    a= 8
    b= 6
    c = a+b
    return c
add()

In [ ]:
def add():
    c = a+b
    return c

a=int(input("Enter a:"))
b=int(input("Enter b:"))
add()

In [ ]:
def sub():
    c = a-b
    return c

a=int(input("Enter a:"))
b=int(input("Enter b:"))
sub()

In [ ]:
def add():
    c = a+b
    return c
def inp():
a=int(input("Enter a:"))
b=int(input("Enter b:"))
add()

In [ ]:
def add(x,y):
    c = x+y
    return c

def inp():
    a=int(input("Enter a:"))
    b=int(input("Enter b:"))
    d = add(a,b)
    return d
inp()

In [ ]:
def add():
    a=int(input("Enter a:"))
    b=int(input("Enter b:"))
    d = a+b
    return d
add()

In [ ]:
def add(x,y):
    c = x+y
    return c

def inp():
    a=int(input("Enter a:"))
    b=int(input("Enter b:"))
    c = add(a,b)
    return c
inp()

In [ ]:
add(100,25)

div(25,3)

In [ ]:
def

In [ ]:
def userpas(user, pas):
    d.update({user,pas})
    return
    
d = {}
for x in range(3):
    user = input('Enter username:')
    pas = input('Enter password:')
    userpas(user,pas)

##Function definition using Lambda

In [ ]:
## MAp & Filter Funciton

In [ ]:
l

In [ ]:
l = list(range(10))
l

In [ ]:
l = list(range(10))
sq =lambda x:x**2
msq = list(map(sq,l))
msq

In [ ]:
l =[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

def func(x):
    if x%2 ==0:
        return x**2
    else:
        return x**3
msq = list(map(func,l))
msq

In [ ]:
ls =list('0123456789')
ls

In [ ]:
ls=[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
list(map(int,ls))

In [ ]:
s= 'abcdefghjklmnopqrstuvwxyz'
do = lambda x:x*2
list(map(do,s))

In [ ]:
l =[0, 1, 2, 3, 4, 5, 6, 7, 8, 9] 
#sq =lambda x:x**2
msq = list(map(lambda x:x**2, l))
msq

In [ ]:
l =[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
s1 = lambda x: True if x%2==0 else False

filter(s1,l)

In [ ]:
l =[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
s1 = lambda x: True if x%2==0 else False

list(filter(s1,l))

In [ ]:
l =[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
s1 = lambda x: x if x%2==0 else False

list(filter(s1,l))

## Modules
   #Inbuilt Modules
   #USer-Defined Modules

In [ ]:
sin(90)

In [ ]:
import math
math.sin(90)

In [ ]:
import math
math.sin(0)

In [ ]:
import math
math.sin(90)

In [ ]:
import platform
platform.win32_ver()

In [ ]:
platform.architecture()

In [ ]:
platform.node()

In [ ]:
platform.machine()

In [ ]:
platform.os

In [ ]:
platform.processor()

In [ ]:
math.pi

In [ ]:
math.sin(math.pi/2)

In [ ]:
sin(0)

In [ ]:
from math import sin,cos

In [ ]:
sin(0)

In [ ]:
cos(1)

In [ ]:
tan(0)

In [ ]:
from math import*

In [ ]:
def sqrt():
    print('Hello')
    return

In [ ]:
sqrt(4)

In [ ]:
from math import

In [ ]:
sqrt(4)

##Name Collision

In [ ]:
#as keyword
#aliasing

In [ ]:
import math as ak

In [ ]:
ak.sqrt(4)

In [ ]:
def sqrt():
    print('Hello')
    return

In [ ]:
from math import sqrt as ak

In [ ]:
sqrt()

In [ ]:
ak(10)

In [ ]:
import twilio

In [ ]:
pip install sql-connector

In [ ]:
dir

In [ ]:
dir(check)

In [ ]:
random.randint(2,10)

In [ ]:
random.choice(1)

In [ ]:
x =random.randint(100000,99999)
x

In [ ]:
random
math
os
 ==,

In [ ]:
cash = 10

In [ ]:
cash

In [ ]:
total =10
Total=999

In [ ]:
total

In [ ]:
Total

In [ ]:
List1=['hello']
List2=[]
For i in list1:
      List2. Append(i[::-1]
Print(list2)

In [ ]:
keyword.kwlist

In [ ]:
import keyword

In [ ]:
keyword.kwlist

In [ ]:
type(True)

In [ ]:
id(type)

In [ ]:
f=1.2E3
f

In [ ]:
a = 0B11+11j
a

In [ ]:
a=  3+0B11j

In [ ]:
a ='''this is' character'''
a

In [ ]:
a ='this is' character'

In [ ]:
a=int(123.25)
type(a)
a

In [ ]:
a =float(10+5j)
a

In [ ]:
b=float('10')
b

In [ ]:
type(b)

In [ ]:
complex(10,-2)

In [ ]:
complex(True,False)

In [ ]:
str(True)

In [ ]:
x = [10,20,30,40]
b = bytes(x)
type(b)
print(b[0])
print(x[0])
for i in b:
    print(i)

In [ ]:
l =[10,20,3]
l.append('achyuth')
l

In [ ]:
l=(10,20,30)
l1=l.remove(50)

In [ ]:
range(10)

In [ ]:
r =range(10,20,2)
for i in r:
    print(i)

In [ ]:
r(0)

In [ ]:
r[6]

In [ ]:
r[0]

In [ ]:
l = list(range(10))
l

In [ ]:
l[3]

In [ ]:
tuple(l)

In [ ]:
s ={10,20,30,40,50}
s

In [ ]:
s[2]

In [ ]:
s={60,70}
s

In [ ]:
s.add(80)
s

In [ ]:
s.remove(70)
s

In [ ]:
s ={10,20,30}
fs = frozenset(s)
type(fs)

In [ ]:
d={1:'Achyuth',2:'Rajesh'}
d

In [ ]:
d[1]:'kumar'
d

In [ ]:
d[3]='LK'
d

In [ ]:
s='Achyuth\nkumar'
print(s)

In [ ]:
s =''this is'' symbol''
s

In [ ]:
s='Achyuth\kumar'
print(s)

In [ ]:
a =10
b =25
a+b
a-b
a*b
a/b
a**b
a%b
a//b

In [ ]:
a//b

In [ ]:
'2'*5

In [ ]:
a/0

In [ ]:
a%0

In [ ]:
x =5
y=0
x~y

In [ ]:
print(10<<3)

In [ ]:
x+=10
x

In [ ]:
 x*=5    
x

In [ ]:

z&=10
print(z)

In [ ]:
10<<20

In [ ]:
10>>20

In [ ]:
a =50
b=30
if a>b:
    print('a is greater')
else:
    print('a is smaller')

In [ ]:
a = int(input('Enter a num1:'))
b = int(input('Enter a num2:'))
print('Small number is:',min(a,b))

In [ ]:
a = int(input('Enter a num1:'))
b = int(input('Enter a num2:'))
min = a if a<b else b
print('Minimum value:',min)

In [ ]:
a = int(input('Enter a num1:'))
b = int(input('Enter a num2:'))
c = int(input('Enter a num3:'))
min = a if a<b and a<c else b if b<c else c
print('Minimum value:',min)

In [ ]:
a = int(input('Enter a num1:'))
b = int(input('Enter a num2:'))
c = int(input('Enter a num3:'))
print('Big number is:',max(a,b,c))

In [ ]:
a= 10
b=10
print(a is b)

In [ ]:
a ='achyuth'
b = 'achyuth'
print(id(a))
print(id(b))
print(a==b)

In [ ]:
L='Achyuth Kumar'
print('A' in L)
print('Z' in L)

In [ ]:
print(math.sqrt(130))

In [ ]:
from math import sqrt,pi
print(sqrt(25000))
print(pi)

In [ ]:
import math
r =float(input("Enter radius of a circle:"))
A =pi*r**2
print('Arera of a circle is:',A)

In [ ]:
x =raw_input('Hai Achyuth')
x

In [ ]:
x =input('Hai Achyuth')
x

In [ ]:
a = int(input('Enter a num1:'))
b = int(input('Enter a num2:'))
c =a+b
print('Addition of a & b is:',c)

In [ ]:
a = input('Enter a num1:')
b = input('Enter a num2:')
c =int(a)
d = int(b)
e = c+d
print('Addition of a & b is:',e)

In [ ]:
a,b =[int(x) for x in input('Enter 2 numbers:').append()]
print('product is :',a*b)

In [ ]:
a,b,c =[float(x) for x in input('Enter 3 numbers:').split('.')]
print('The sum of numbers is:',a+b+c)

In [ ]:
x =eval('10*20')
print(x)

In [ ]:
x=eval(input('Enter expression'))
print(x)

In [ ]:
a =eval(input('Enter details:'))
print(type(a))
print(a)

In [ ]:
import argv
print(type(argv))

In [ ]:
from sys import argv
print('The number of command line arguments:', len(argv))
print('The list of command line arguments:',argv)
print('command Line arguments one by one:')
for x in argv:
    print(x)

In [ ]:
from sys import argv
sum =0
args = argv[1:]
for x in args:
    n = int(x)
    sum +=n
print('sum:',sum)

In [ ]:
print()

In [ ]:
print(10*10)

In [ ]:
print('hello world')
print('hello '+'world')
print('hello', 'world')

In [ ]:
a,b,c =10,20,30
print('Values are= ',a,b,c,sep=':')

In [ ]:
print('hello',end=' ')
print('world')

In [ ]:
a='Lingam'
b='KSRM'
print('Your surname is',a,'Achyuth Kumar')
print('Achyuth kumar studied in',b, 'college')

In [ ]:
a=10
b=20
c=30
print('a value is %i' %a)
print('b value is %d and c value is %d' %(b,c))

In [ ]:
print(%a)
print(%(b,c))

In [ ]:
a = 'achyuth'
list =[10,20,30]
print('hello %s.... The list of items are %s' %(a,list))

In [ ]:
name ='achyuth'
salary =100000
brother ='rajesh'
print("Hello {0} your salary is {1} and your brother {2} is waiting".format(name,salary,brother))

In [ ]:
name ='achyuth'
salary =100000
brother ='rajesh'
print('Hello', name, 'your salary is', salary, 'and your brother', brother, 'is waiting')

In [ ]:
name =input('Enter name:')
if name =='Achyuth':
    print('Hello Achyuth, Good Morning')
print('how are you')

In [ ]:
name =input('Enter name:')
if name =='Achyuth':
    print('Hello Achyuth, Good Morning')
else:
    print('Hello Guest')
print('how are you')

In [ ]:
theatre =input('Enter theatre name:')
if theatre =='pratap':
    print('Sound system is good')
elif theatre=='sangeeth':
    print('4K quality')
elif theatre=='Ramnath':
    print('Average theatre')
else:
    print('Waste watching movie in',theatre,'theatre')

In [ ]:
num =int(input('Enter the number:'))
if num%2==0:
    print(num, 'is even number')
else:
    print(num, 'is odd number')

In [ ]:
num =int(input('Enter the number:'))
if num>=1 and num<=100:
    print('The number',num,'is in between1-100')
else:
    print('The number',num,'is not in between1-100')

In [ ]:
l ="achyuth"
for x in l:
    print(x)

In [ ]:
s = input('Enter some string:')
i =0
for x in s:
    print('index at',i,'is',x)
    i=i+1

In [ ]:
print(10*'hello ')

In [ ]:
for x in range(10):
    print('hello')

In [ ]:
for i in range(10):
    print(i)

In [ ]:
for i in range(20):
    if i%2 !=0:
        print(i)

In [ ]:
for i in range(10,0,-1):
    print(i)

In [ ]:
list =[10,30,50]
sum =0;
for x in range(0,len(list1)):
        sum =sum+list1[x]
print('The sum is',sum)

In [ ]:
n = int(input('Enter number:'))
sum =0
i=1
while i<=n:
    sum =sum+i
    i=i+1
print('The sum of first',n,'number is:',sum)

In [ ]:
i = 1
while(i<=20):
    print(i)
    i += 1

In [ ]:
name =input('Enter name:')
while name!='Achyuth':
    name =input('Enter name:')
print('Thanks for confirmation')

In [ ]:
n =int(input('Enter number:'))
sum =0
i=1
while i<=n:
    sum =sum+i
    i=i+1
print('The sum of first',n,'number is:',sum)

In [2]:
for i in range(4):
    for j in range(4):
        print('i=',i,'j=',j)

i= 0 j= 0
i= 0 j= 1
i= 0 j= 2
i= 0 j= 3
i= 1 j= 0
i= 1 j= 1
i= 1 j= 2
i= 1 j= 3
i= 2 j= 0
i= 2 j= 1
i= 2 j= 2
i= 2 j= 3
i= 3 j= 0
i= 3 j= 1
i= 3 j= 2
i= 3 j= 3

In [3]:
for i in range(4):
    for j in range(4):
        print(i,j)

0 0
0 1
0 2
0 3
1 0
1 1
1 2
1 3
2 0
2 1
2 2
2 3
3 0
3 1
3 2
3 3

In [5]:
n = int(input('Enter number of rows:'))
for i in range(1,n+1):
    print('*'*i)

Enter number of rows:5
*
**
***
****
*****

In [9]:

for i in range(7):
    print('1'*i)

1
11
111
1111
11111
111111

In [21]:
n = int(input('Enter number of rows:'))
for i in range(1,n+1):
    print(' '*(n-i),end='')
    print('1'*i)

Enter number of rows:6
     1
    11
   111
  1111
 11111
111111

In [44]:
for i in range(5):
    if i==4:
        print('Enough processing')
    print(i)

0
1
2
3
Enough processing
4

In [25]:
for i in range(5):
    if i==4:
        print('Enough processing')
        break
    print(i)

0
1
2
3
Enough processing

In [31]:
cart=[10,20,30,500,60]
for item in cart:
    if item>50:
        print('Replace the items price greater than 50')
        break
    print(i)

4
4
4
Replace the items price greater than 50

In [39]:
cart=[200,20,30,500,60]
for item in cart:
    if item>50:
        print('Replace the items price greater than 50')
        break
    print(item)

Replace the items price greater than 50

In [37]:
for i in range(10):
    if i%2!=0:
        continue
    print(i)

0
2
4
6
8

In [42]:
cart=[200,20,30,500,60]
for item in cart:
    if item>50:
        print('Replace the items price greater than 50')
        continue
    print(item)

Replace the items price greater than 50
20
30
Replace the items price greater than 50
Replace the items price greater than 50

In [43]:
cart=[200,20,30,500,60]
for item in cart:
    if item>50:
        print('Replace the items price greater than 50')
    print(item)

Replace the items price greater than 50
200
20
30
Replace the items price greater than 50
500
Replace the items price greater than 50
60

In [46]:
num =[10,20,0,40,0]
for n in num:
    if n==0:
        print('Cant divide')
        continue
    print(20/n)

2.0
1.0
Cant divide
0.5
Cant divide

In [47]:
num =[10,20,0,40,0]
for n in num:
    if n==0:
        print('Cant divide')
        continue
    print('20/{}={}'.format(n,20/n))

20/10=2.0
20/20=1.0
Cant divide
20/40=0.5
Cant divide

In [52]:
num =[10,20,0,40,0]
for n in num:
    if n==0:
        print('Cant divide')
    print('20/{}={}'.format(n,20/n))

20/10=2.0
20/20=1.0
Cant divide

ZeroDivisionError: division by zero

In [53]:
for i in range(100):
    if i%9==0:
        print(i)
    else:pass

0
9
18
27
36
45
54
63
72
81
90
99

In [54]:
for i in range(100):
    if i%9==0:
        print(i)

0
9
18
27
36
45
54
63
72
81
90
99

In [55]:
z =10
print(z)
del(z)

10

In [56]:
z

NameError: name 'z' is not defined

In [57]:
y =10
print(y)

10

In [58]:
y

10

In [59]:
s ='achyuth'
s=None
print(s)

None

In [64]:
n=int(input('Enter value:'))
for i in range(n):
    print('*',end='')

Enter value:5
*****

In [66]:
n=int(input('Enter value:'))
for i in range(n):
    print('*'*n)

Enter value:5
*****
*****
*****
*****
*****

In [67]:
n=int(input('Enter value:'))
for i in range(n):
    print((str(i+1)+'')*n)

Enter value:5
11111
22222
33333
44444
55555

In [73]:
n=int(input('Enter value:'))
for i in range(n):
    print(str(i)*n)

Enter value:5
00000
11111
22222
33333
44444

In [77]:
n=int(input('Enter value:'))
for i in range(n):
    print((chr(65+i)*n))

Enter value:3
AAA
BBB
CCC

In [79]:
n=int(input('Enter value:'))
for i in range(n):
    print('*'*i)

Enter value:5

*
**
***
****

In [80]:
n=int(input('Enter value:'))
for i in range(n):
    print('*'*(n-i))

Enter value:5
*****
****
***
**
*

In [81]:
n=int(input('Enter value:'))
for i in range(n):
    print(

Enter value:5
*
**
***
****
*****

In [84]:
L= "Achyuth Kumar"
rstrip(L)

NameError: name 'rstrip' is not defined

In [87]:
l='achyuth','rajesh','kumar'
s='!'.join(l)
print(s)

achyuth!rajesh!kumar

In [93]:
l='Achyuth kUmar'
l.capitalize()

'Achyuth kumar'

In [95]:
print(l[::-1])

ramUk htuyhcA

In [19]:
def py():
    for i in range(1,6):
        for j in range(1,i+1):
            print('*',end="")
        print()
py()

*
**
***
****
*****

SyntaxError: 'return' outside function (3035989814.py, line 7)

In [17]:
def py():
    for i in range(1,6):
    for j in range(1,i+1):
        print('*',end="")
        print()
py()

IndentationError: expected an indented block (1182289856.py, line 3)

In [12]:
range(0)

range(0, 0)

In [25]:
a=10
b=25
def sum(a,b):
    c=a+b
    return c
    x =sum(10,15)
    print('the sum is:',x)
    y =sum(1.5,25.2)
    print('The sum is:',y)

In [29]:
def sum_sub(a,b):
    c=a+b
    d=a-b
    return c,d
x,y =sum_sub(10,5)
print('Result of additon:',x)
print('Result of subtraction:')

Result of additon: 15
Result of subtraction: 5

In [31]:
def sum_sub(a,b):
    c=a+b
    d=a-b
    return c,d
x,y =sum_sub(10,5)
print('Result of additon:',x)
print('Result of subtraction:',y)

Result of additon: 15
Result of subtraction: 5

In [44]:
def display(str):
    return 'Hi '+str
x=display('krishna')
print(x)

Hi krishna

In [37]:
def achyuth(str):
    return 'hello'
achyuth(str)

'hello'

In [40]:
achyuth

In [41]:
py()

*
**
***
****
*****

In [42]:
sum_sub()

TypeError: sum_sub() missing 2 required positional arguments: 'a' and 'b'

In [45]:
x=10
id (x)

1465007762000

In [46]:
def modify(x):
    x=15
    print(x,id(x))
    
x=10
modify(x)
print(x,id(x))

15 1465007762160
10 1465007762000

In [47]:
def modify():
    x=15
    print(x,id(x))
    
x=10
modify(x)
print(x,id(x))

TypeError: modify() takes 0 positional arguments but 1 was given

In [52]:
def sum(a,b):
    c=a+b
    print(c)
    x=10; y=15
    sum(x,y)

def attach(s1,s2):
    s3=s1+s2
    print('Total string:'+s3)
attach('Achyuth ','Kumar')

In [60]:
attach('new', 'york')

Total string:newyork

#File Handling

In [1]:
filevariable=open(filepath,AccessMode ='r')

NameError: name 'filepath' is not defined

In [2]:
####Access Mode
-Read Mode
    -r
    -r+
-Write Mode
   -w

SyntaxError: invalid syntax (107346273.py, line 2)

In [3]:
 fv=open(http://localhost:8888/notebooks/practice.ipynb)

SyntaxError: invalid syntax (4074112029.py, line 1)